.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.navbar {
  padding: 1rem 2rem 5rem;
  width: 60%;
  position: relative;
  display: inline-flex;
}
.bg {
  background-color: #393E46;
}

.navbar-brand {
  font-size: 2.2rem;
  font-family: 'Lobster', cursive;
  letter-spacing: 7px;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  font-size: 1.9rem;
  font-family: 'Lobster', cursive;
}

body {
  background-color: #393E46;
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media (max-width: 800px) {
  h1 {
    font-size: 5rem;
  }
}

.btn {
  display: inline-block;
  height: 4rem;
}

.again {
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  color: white;
}
