body {
  text-align: center;
  background-color: #00005c;
}

h1 {
  margin: 20px 0 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 6px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

img {
  width: 80%;
  margin-bottom: 2rem;
}

p {
  margin: 30px;
  font-family: 'Indie Flower', cursive;
  text-shadow: 6px 0 #232931;
  font-size: 3rem;
  color: white;
}
/* Navbar */

.navbar {
  padding: 1rem 2rem 5rem;
  width: 60%;
  position: relative;
  display: inline-flex;
}

.bg {
  background-color: #00005c;
}

.navbar-brand {
  font-size: 2.2rem;
  font-family: 'Lobster', cursive;
  letter-spacing: 7px;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  font-size: 1.9rem;
  font-family: 'Lobster', cursive;
}

/* Other */
.images {
  padding: 2rem 2rem 1.5rem;
}

.btn {
  display: inline-block;
  height: 4rem;
}

.again {
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  color: white;
}

@media (max-width: 800px) {
  h1 {
    font-size: 5rem;
  }
}
